<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<title>发表博客</title>
		<meta charset="utf-8">
	</head>
	<body>
		<form action="../add_blog_success/" method="post"> {% csrf_token %}
			<p>标题:<input type="text" name="caption"></p>
                        <p>博文类别
                            <select name="category">
                                {% for category in categorys %}
                                    <option value="{{category}}">{{ category }}</option> 
                                {% endfor %}
                            </select>
                        </p>
			<p>正文:</p>
			<p><textarea name="content" cols="80" rows="20"></textarea></p>
			<p><input type="submit" value="发表">
		</form>
	</body>
</html>
