<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <meta charset="utf-8">
        <script src="http://tjs.sjs.sinajs.cn/t35/apps/opent/js/frames/client.js" language="JavaScript"></script>
    </head>
    <body>
        <form action='' method="post">{% csrf_token %}
            {% if errors %}
                {% for error in errors %}
                     {{ error }}
                {% endfor %}
            {% endif %}
            {{ lf.as_p }}
            <p>
                <img src="/verify_code/" />
            </p>
            <p>
                <input type="submit" value="登录"/>
                <input type="reset" value="重置"/>
            </p>
        </form>
        <div>
             <a href="https://api.weibo.com/oauth2/authorize?client_id=381709949&response_type=code&redirect_uri=http://115.28.15.67/oauth"><input type="button">使用新浪微博登陆</input></a>
        </div>

    </body>
</html>
