<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form action='' method="post">{% csrf_token %}
            {% if errors %}
                {% for error in errors %}
                     {{ error }}
                {% endfor %}
            {% endif %}
            {{ user.as_p }}
            <p><input type="submit" value="登录"/></p>
            <p><input type="reset" value="重置"/></p>
        </form>
    </body>
</html>
