<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}
                python了没?
                {% endblock %}
        </title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="bookmark" href="/favicon.ico" type="image/x-icon"/>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
           body {
			   background-image: url(/static/images/1.jpg);
               background-size: 1366px 750px;
			   background-attachment:fixed
           }
           .container {
		       width: 70%;
           }
		   .sidebar {
		       width: 30%;
		   }
		   a {
		       text-decoration: none;
		   }
           div#loginForm {
               background: white;
               border-radius: 3px;
               position: absolute;
               top: 175px;
               left: 400px;
               width: 478px;
               height: 400px;
               z-index: 200;
			   display: none; 
           }
		   div#header {
		       text-align: center
		   }
           div#footer {
               position
           }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="admin">
                {% if request.user.is_authenticated %}
                    欢迎您,{{ request.user }}
                    &nbsp <a href="/backyard">后台</a>
                    &nbsp <a href="/logout/">登出</a>
                {% else %}
                    <a id="login" href="javascript:;">登录</a>
                    <a href="/register/">注册</a>
                {% endif %}
            </div>
            <div class="navigator" >
                    <span class="active"> <a href="/index/">HOME</a></span>
                    <span><a href="/blog/">ARCHIVE</a></span>
                    <span><a href="/videoplay/">VIDEO</a></span>
                    <span><a href="/gallery/album_list/">ALBUM</a></span>
                    <span><a href="/about/">ABOUT</a></span>
            </div>
            <div id="loginForm">
                {% csrf_token %}
                <h2 id="header">登录</h2>
                <div>
                    <a id="close" href="javascript:;">x</a>
                </div>
                <div>
                    <lable for="username">用户名</label>
                    <input class="bind_enter" type="text" name="username" placeholder="用户名" value="">
                </div>
                <div>
                    <label for="password">密码</label>
                    <input class="bind_enter" type="password" name="password" placeholder="密码">
                </div>
                <div>
                    <input class="bind_enter" type="text" name="verify_code" placeholder="验证码">
                    <img src="/verify_code/">
                </div>
                <div>
                    <button id="submit">登陆</button>
                </div>
            </div>
            <div class="content">
                <div class="main">
                    {% block content %}{% endblock %} 
                </div>
			<div class="sidebar">
				{% block sidebar %}
					<form class="form-search" action="/blog/search/" method="GET">
						<div class="input-append">
							<input type="text" class="span8 search-query" name="q" />
							<button type="submit" class="btn">Search</button>
						</div>
					</form>
				{% endblock %}
			</div>
            <div class="footer" style="text-align:center">
			    <span>
                    All rights reserved
				</span>
				<span>
                    <a href="/contact/">Contact</a>
				</span>
            </div>
        </div>
    </body>
	<script>
		$(document).ready(function(){
			$("#login").click(function(){
				$("#loginForm").show();
			});

			$("#close").click(function(){
				$("#loginForm").hide();
			});

            $(".bind_enter").keypress(function(e){
              if (event.keyCode == 13) {
                  event.cancelBubble = true;
                  event.returnValue = false;
                  $("#submit").click();
               }
            })

			$("#submit").click(function(){
    			var username = document.getElementsByName("username")[0].value;
    			var password = document.getElementsByName("password")[0].value;
    			var verify_code = document.getElementsByName("verify_code")[0].value;

				$.ajax({
			        type: "POST",
					url: "/jslogin/",
					data: {
				         "username": username,
						 "password": password,
						 "verify_code": verify_code,
					},
					success: function(result){
					    var obj = jQuery.parseJSON(result);
                            if (obj.status == "success"){
                                location.href = "/";
                            }
                            if (obj.status == "fail"){
							    alert(result);
                            }
					},
					error: function(data){
					    alert("error:"+data.respondeText);
					}
				});
			});
		});

		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
			    beforeSend: function(xhr, settings) {
			        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				        var csrftoken = $.cookie('csrftoken');
			            xhr.setRequestHeader("X-CSRFToken", csrftoken);
			        }
			    }
			});
	</script>
</html>
