<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}
                罗鹏的python博客
            {% endblock %}
        </title>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
           body {
			   background-image: url(/static/images/1.jpg);
               background-size: 1366px 750px;
			   background-attachment:fixed
           }
           .container {
		       width: 70%;
           }
		   .sidebar {
		       width: 30%;
		   }
		   a {
		       text-decoration: none;
		   }

        </style>
    </head>
    <body>
        <div class="container">
            <div class="admin">
                {% if request.user.is_authenticated %}
                    欢迎您,{{ request.user }}
                    &nbsp <a href="/backyard">后台</a>
                    &nbsp <a href="/logout/">登出</a>
                {% else %}
                    <a class="theme-login" href="javascript:;">登录</a>
                    <a href="/register/">注册</a>
                {% endif %}
            </div>
            <div class="navigator" >
                    <span class="active"> <a href="/index/">HOME</a></span>
                    <span><a href="/blog/">ARCHIVE</a></span>
                    <span><a href="/videoplay/">VIDEO</a></span>
                    <span><a href="/gallery/album_list/">ALBUM</a></span>
                    <span><a href="/about/">ABOUT</a></span>
            </div>
            <div class="content">
                <div class="main">
                    {% block content %}{% endblock %} 
                </div>
			<div class="sidebar">
				{% block sidebar %}
					<form class="form-search" action="/blog/search/" method="GET">
						<div class="input-append">
							<input type="text" class="span8 search-query" name="q" />
							<button type="submit" class="btn">Search</button>
						</div>
					</form>
				{% endblock %}
			</div>
            <div class="footer" style="text-align:center">
			    <span>
                    All rights reserved
				</span>
				<span>
                    <a href="/contact/">Contact</a>
				</span>
            </div>
        </div>
    </body>
</html>
