{% extends "blog/base.html" %}
{% block title %}
    blog page
{% endblock %}
{% block content %}
    {% if query %}
        {% ifequal "theweatherisgood" query %}
            you committed a blank form
        {% else %}
            you searched for {{query}}
        {% endifequal %}
    {% endif %}
    {% if len %}
        there are {{ len }} items.
    {% endif %}
	{% for blog in blogs %}
		<p><a href="/detail/{{ blog.id }}"><h4>{{ blog.caption }}</h4></a> &nbsp;&nbsp;{{ blog.tm }} {{ blog.category }}</p>
		<p>{{ blog.content|slice:"300"|safe }}
	{% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if blogs.has_previous %}
                {% if query %}
                    <a href="?q={{query}}?page={{ blogs.previous_page_number }}">previous</a>
                {% else %}
                    <a href="?page={{ blogs.previous_page_number }}">previous</a>
                {% endif %}
            {% endif %}
            <span class="current">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
            </span>
            {% if blogs.has_next %}
                {% if query %}
                    <a href="?q={{query}}?page={{ blogs.next_page_number }}">next</a>
                {% else %}
                    <a href="?page={{ blogs.next_page_number }}">next</a>
                {% endif %}
            {% endif %}
        </span>
    </div>
{% endblock %}
